<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <section class="sidebar-module sidebar-module-inset">
        <h3>Tag Cloud</h3>
        <ol class="list-unstyled">
            {% for tag, weight in tags %}
            <li><span class="weight-{{ weight }}">{{ tag }}</span></li>
            {% else %}
            <p>There are no tags</p>
            {% endfor %}
        </ol>
    </section>
    <section class="sidebar-module sidebar-module-inset">
        <h3>Latest Comments</h3>
        {% for comment in latestComments %}
            <ol class="list-unstyled">
                <li>
                    <header>
                        <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                            <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': comment.blog.id, 'slug': comment.blog.slug }) }}#comment-{{ comment.id }}">
                                {{ comment.blog.title }}
                            </a>
                            [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>]
                        </p>
                    </header>
                    <p>{{ comment.comment }}</p>
                </li>
                </p>
            </ol>
        {% else %}
            <p>There are no recent comments</p>
        {% endfor %}
    </section>
</div>